body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    margin-left: 15px;
}

td {
    padding-right: 50px;
}

p.spacer {
    margin: 0px;
    height: 8px;
}

li:not(:last-child) {
    margin-bottom: 16px;
}

ol.non-spaced {
    margin-top: 0px;
}

ol.non-spaced > li {
    margin-bottom: 0px;
}

@media screen {
    body {
        font-size: 140%;
    }
    table {
        font-size: 100%;
    }
}